body {
    font-family: 'DM Sans', sans-serif;
    /* font-family: 'Mulish', sans-serif; */
}

h1 {
    font-size: 20px;
    color: rgb(166, 204, 28);
    font-weight: bold;
}

.container {
    max-width: 1070px;
    margin: 0 auto;
}

.btn1 {
    padding: 20px 30px;
    margin-right: 30px;
}

.header,.footer {
    background: rgba(255, 113, 67, 0.27);
    padding: 38px 0 48px;
}

.header_flex, .about, .footer_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about {
    margin: 105px auto 85px;
}

.nav_li {
    display: inline-block;
}

.nav_li:not(:first-of-type) {
        margin-left: 49px;
}

.nav_link {
    font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: -0.468947px;
        color: #696871;
        text-decoration: none;
}

.nav_link:hover {
    color: black;
    transition: 300ms;
}

.button {
    width: 212.39px;
    height: 60px;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #FFFFFF;
    border: none;  
    border-radius: 10px;
    cursor: pointer;
}

.button_orange {
    background: #FF7143;
}

.button_orange:hover {
    background: #fd9572;
    transition: 500ms;
}

.about_title {
    max-width: 467.24px;
    font-weight: 700;
    font-size: 80px;
    line-height: 77px;
    letter-spacing: -2.50105px;
    color: #19191B;
    margin-bottom: 30px;
}

.about_text {
    max-width: 464.21px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
    margin-bottom: 50px;
}

.button_violet {
    background: #5454D4;
}

.button_transparent {
    background: none;
    border: 1px solid #5454D4;
    color: #5454D4;
    margin-left: 35px;
}

/* footer styles */

.footer {
    padding: 53px 0;
}
